body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#main-container{
    border: none;     
}

#first-block {
    background-color: red;
    height: 10vh;
    grid-area: vermelho;
}

.blue-block1 {
    background-color: blue;
    height: 10vh;
    grid-area: azul1 ;
}

.yellow-block1 {
    background-color: yellow;
    height: 10vh;
    grid-area: amarelo1 ;


}

.green-block1 {
    background-color: green;
    height: 10vh;
    grid-area: verde1 ;


}
.blue-block2 {
    background-color: blue;
    height: 10vh;
    grid-area: azul2;
    


}

.yellow-block2 {
    background-color: yellow;
    height: 10vh;
    grid-area:  amarelo2;


}

.green-block2 {
    background-color: green;
    height: 10vh;
    grid-area: verde2;


}

.black-block1 {
    background-color: black;
    color: white;
    height: 30vh;
    grid-area: preto1 ;


}
.black-block2 {
    background-color: black;
    color: white;
    height: 30vh;
    grid-area: preto2 ;


}

.white-block1 {
    background-color: white;
    height: 10vh;
    grid-area: branco1 ;


}
.white-block2 {
    background-color: white;
    height: 10vh;
    grid-area: branco2 ;


}
.white-block3 {
    background-color: white;
    height: 10vh;
    grid-area: branco3 ;
}

.grid{
    display: grid;
    align-items: center;
    justify-items: center;
}




@media screen and (min-device-width : 320px)  and (max-device-width : 420px) {

    .sub-container1{
        display: grid;
        grid-template-areas:
                 "vermelho"       
         ; 
            
       }
        
    .sub-container2{
        
        margin: 10px;
        grid-gap: 10px;
        display: grid;
        grid-template-areas:
                            "azul1"
                             "amarelo1"
                            "verde1"
                            "azul2" 
                            "amarelo2"
                            "verde2"
            ; 
        border: none;
           
       }
        
       .sub-container3{
            margin: 10px;
            grid-gap: 10px;
            grid-row-gap: 10px;
            display: grid;
            grid-template-areas:
                    "preto1" 
                    "preto2"       
            ; 
            border: none;
       }
        
       .sub-container4{
        margin: 10px;
        grid-gap: 10px;
        grid-row-gap: 10px;
        display: grid;
        grid-template-areas:
                           "branco1"
                            "branco2" 
                            "branco3"      
        ; 
        border: none;
           
       }


       .black-block1 {
        height: 10vh;
    }
       .black-block2 {
        height: 10vh;
    }
       .black-block3 {
        height: 10vh;
    }


}

@media  screen and (min-device-width : 421px) and (max-device-width : 799.98px) {

    .sub-container1{
        display: grid;
        grid-template-areas:
                 "vermelho"       
         ; 
            
       }
        
    .sub-container2{
        
        margin: 10px;
        grid-gap: 10px;
        display: grid;
        grid-template-areas:
                            "azul1 amarelo1"
                            "verde1"
                            "azul2 amarelo2"
                            "verde2"
            ; 
        border: none;
           
       }
        
       .sub-container3{
            margin: 10px;
            grid-gap: 10px;
            grid-row-gap: 10px;
            display: grid;
            grid-template-areas:
                    "preto1 preto2"       
            ; 
            border: none;
       }
        
       .sub-container4{
        margin: 10px;
        grid-gap: 10px;
        grid-row-gap: 10px;
        display: grid;
        grid-template-areas:
                           "branco1 branco2" 
                            "branco3"      
        ; 
        border: none;
           
       }




}


@media screen and (min-device-width : 800px)   {

 

   .sub-container1{
    display: grid;
    grid-template-areas:
             "vermelho"       
     ; 
        
   }
    
   .sub-container2{
       margin: 10px;
        grid-gap: 10px;
       display: grid;
       grid-template-areas:
                "azul1 amarelo1 verde1"
                "azul2 amarelo2 verde2"
        ; 
        border: none;
       
   }
    
   .sub-container3{
        margin: 10px;
        grid-gap: 10px;
        grid-row-gap: 10px;
        display: grid;
        grid-template-areas:
                "preto1 preto2"       
        ; 
        border: none;

       
   }
    
   .sub-container4{
    margin: 10px;
    grid-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-areas:
            "branco1 branco2 branco3"       
    ; 
    border: none;
       
   }
 

}